@namespace TailBlazor.List
@typeparam TItem

<div class="@BodyClass">
  <ul class="@ListClass">
    @foreach (var listItem in Items)
    {
        <li>
            @ChildContent(listItem)
        </li>
    }
  </ul>
</div>